{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12">
                <h5>Announcements</h5>
                <p></p>
            </div>
        </div>
        {% for post in announcement %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-10 col-sm-12 border-bottom position-relative">
                <div>
                    <img class="rounded-circle post-img" height="50" width="50" src="{{ post.author.profile.picture.url }}" />
                    <a class="profile-link" href="{% url 'profile' post.author.profile.pk %}">{{ post.author }}</a> {{ post.date | date:"F d, Y"}}
                </div>
                <div class="position-relative">
                    <p>{{ post.body }}</p>
                    {% if post.image %}
                    <img src="{{ post.image.url }}" class="post-image" />
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}