{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'announcement' %}" class="btn btn-dark">Back to Announcement</a>
        </div>
    </div>
    <div class="d-flex row justify-content-center mt-3">
        <div class="post-body  bg-light mt-4 col-md-7 col-sm-12 position-relative">
            <div class="d-flex justify-content-between">
                <div>
                  {% if post.author.profile.picture %}
                  <img class="rounded-circle mr-3" height="50" width="50" src="{{ post.author.profile.picture.url }}" />
                  {% else %}
                  <img src="https://avatars.dicebear.com/api/initials/{{post.author}}.svg" class="rounded-circle mr-3" width="50" height="50" />
                  {% endif %}
                  <a class="profile-link" href="{% url 'profile' post.author.profile.pk %}">{{ post.author }}</a>
                </div>
                <div>
                  {{ post.date }}
                </div>
              </div>
            <div class="position-relative">
                <p>{{ post.body }}</p>
                {% if request.user == post.author %}
                {% endif %}
                {% if post.image %}
                <div class="image">
                    <img src="{{ post.image.url }}" class="post-image" />
                </div>
                {% endif %}
            </div>
        </div>
        {% if request.user == post.author %}
        <div class="float-right ml-2">
            <a href="{% url 'post_edit' post.pk %}" class="btn btn-info d-flex justify-content-center" style="height: 2.5rem; margin-top: 2rem;"><i class="far fa-edit"></i> Edit</a>
            <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger mt-2" style="height: 2.5rem;"><i class="fas fa-trash"></i> Delete</a>
        </div>
        {% endif %}
    </div>
    

    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12">
            <h5>Add a Comment</h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-8 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                <div class="username">
                    <textarea class ="textarea" placeholder="Comment Something.." name="comment"></textarea>
                    <!-- {{form.description}} -->
                  </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div>
    {% for comment in comments %}
    <div class="d-flex">
        <div class="post-body bg-light mb-3 col-md-10 ml-5">
            <div class="d-flex justify-content-between">
                <div>
                {% if comment.author.profile.picture %}
                <img class="rounded-circle mr-3" height="50" width="50" src="{{ comment.author.profile.picture.url }}" />
                {% else %}
                <img src="https://avatars.dicebear.com/api/initials/{{request.user}}.svg" class="rounded-circle mr-3" width="50" height="50" />
                {% endif %}
                <a class="profile-link" href="{% url 'profile' comment.author.profile.pk %}">{{ comment.author }}</a>
                </div>
                <div>
                {{ comment.date | date:"F d, Y"}}
                </div>
            </div>
            <p class="pl-2">{{ comment.comment }}</p>
        </div>
        <a href="{% url 'announcement_comment_delete' post.pk comment.pk %}" class="btn btn-danger displayflex-column m-1" style="height: 2.5rem;"><i class="fas fa-trash"></i></a>
    </div>
    
    {% endfor %}
</div>
{% endblock content %}