{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'announcement' %}" class="btn btn-light">Back to Feed</a>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <p>
                <a href="{% url 'profile' post.author.profile.pk %}"></a>
                    <img class="rounded-circle mr-3" height="50" width="50" src="{{ post.author.profile.picture.url }}" />
                    <a class="profile-link" href="{% url 'profile' post.author.profile.pk %}">{{ post.author }}</a> {{ post.date }}
                {% if request.user == post.author %}
                <a href="{% url 'announcement_post_edit' post.pk %}" style="color: #333;"><i class="far fa-edit"></i></a>
                <a href="{% url 'announcement_post_delete' post.pk %}" style="color: #333;"><i class="fas fa-trash"></i></a>
                {% endif %}
            </p>
            <div class="position-relative">
                <p>{{ post.body }}</p>
                {% if post.image %}
                <img src="{{ post.image.url }}" class="post-image" />
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}