{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
		        const cookies = document.cookie.split(';');
		        for (let i = 0; i < cookies.length; i++) {
		            const cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		const csrftoken = getToken('csrftoken');
	</script>


    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Iskoline</title>
    {% endif %}
</head>
<body>
    <div class="side-menu row">
            <div class="sidebar">
                <ul class="list-group">
                  <a class="list-group-item list-group-item-light" href="{% url 'post_list' %}">Home</a>
                  <a class="list-group-item list-group-item-light" href="{% url 'announcement' %}">Announcements</a>
                  <a class="list-group-item list-group-item-light" href="{% url 'registrar' %}">Registrar</a>
                  <a class="list-group-item list-group-item-light" href="{% url 'chairperson' %}">Chairperson</a>
                  <a class="list-group-item list-group-item-light" href="#">Chat</a>
                  <a class="list-group-item list-group-item-light" href="#">Prof</a>
                  <a class="list-group-item list-group-item-light" href="{% url 'logout' %}">Logout</a>
                </ul>
            </div>
        <div class="col-md-8">
          {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>