{% extends 'home/base.html' %} {% load crispy_forms_tags %} {% block content %}


<div class="post-list-container">
      <div class="profile1">
        <div class="profile-card">
        <div class="profile-image">
          {% if request.user.profile.picture %}
          <img src="{{ request.user.profile.picture.url }}" class="rounded-circle"/>
          {% else %}
          <img src="https://res.cloudinary.com/dmagk9gck/image/upload/v1652844857/media/uploads/default_u8embw.jpg" class="rounded-circle"/>
          {% endif %}
        </div>
        <div class="name" style="color: black; text-decoration:none;">
          <h5><b>{{ request.user.profile.name }}</b></h5>
          <h6>{{ request.user.profile.student_id }}</h6>
        </div>
      </div> 
      </div>
  <div class="post">
  <div class="addcontent">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <textarea class ="textarea" placeholder="Say Something.." name="body"></textarea>
  
      <div class="buttons">
        <div class="addphoto">
          <label class="icons" for="file"><span class="material-icons"> &nbsp;add_a_photo</span>Add a Photo</label>
          <input type="file" id="file" accept="image/*" name="image" />
        </div>
        <div class="pushb">
          <button class="btn btn-success">Post</button>
        </div>
      </div>
  </form>
</div>
  {% for post in chairperson %}
<div class="justify-content-center mt-3">
  <div class="post-body col-md-10 col-sm-12 position-relative">
    <div>
      {% if post.author.profile.picture %}
      <img class="rounded-circle mr-3" height="50" width="50" src="{{ post.author.profile.picture.url }}" />
      {% else %}
      <img src="https://res.cloudinary.com/dmagk9gck/image/upload/v1652844857/media/uploads/default_u8embw.jpg" class="rounded-circle mr-3" width="50" height="50" />
      {% endif %}
      <a class="profile-link" href="{% url 'profile' post.author.profile.pk %}">{{ post.author }}</a>
      {{ post.date | date:"F d, Y"}}
    </div>
    <div class="post-content position-relative">
      <p>{{ post.body }}</p>
      {% if post.image %}
      <div class="image">
        <img src="{{ post.image.url }}" class="post-image" />
      </div>  
      {% endif %}
      <a class="stretched-link" href="{% url 'post_detail' post.pk %}"></a>
    </div>
  </div>
</div>
  {% endfor %}
</div>
</div>
{% endblock content %}
