{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'landing_page.css' %}">
    <title>Iskoline</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo-container">
                <img class="logo" src="../media/logo.png">
                <h1>ISKOLINE</h1>
            </div>
            <div class="buttons">
                <!-- <button class="login"><a href="{% url 'login' %}">Login</a></button> -->
                <!-- <button class="register"><a href="{% url 'register' %}">Register</a></button> -->
                <a href="{% url 'login' %}"><button class="login">Login</button></a>
                <a href="{% url 'register' %}"><button class="register">Register</button></a>
                
            </div>
        </div>
        <div class="body">
            <img
                class="demo-bg"
                src="../media/background.jpg"
                alt=""
            >
            <div class="iskoline">
            </div>
            <div class="iskoline-info">
                <!-- <div><img src="../media/iskoline.png" class="iskoline-logo" alt="iskoline-image"></div> -->
                <div class="description">
                    <p> <h1>ISKOLINE</h1>
                        <img class="logo-bg" src="../static/images/ISKOLINE_LOGO.png" alt="">
                        <!-- An online campus web application developed by the DICT 3-1 Students.  
                        <br> Developed to provide a direct link between the student and the college.  -->
                        
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>