{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'landing_page.css' %}">
    <title>Iskoline</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo-container">
                <img class="logo" src="{% static 'images/logo.png' %}">
                <h1>ISKOLINE</h1>
            </div>
            <div class="buttons">
                <!-- <button class="login"><a href="{% url 'login' %}">Login</a></button> -->
                <!-- <button class="register"><a href="{% url 'register' %}">Register</a></button> -->
                <a href="{% url 'login' %}"><button class="login">Login</button></a>
                <a href="{% url 'register' %}"><button class="register">Register</button></a>
                
            </div>
        </div>
        <div class="body">
            <img
                class="demo-bg"
                src="{% static 'images/background.jpg' %}"
                alt=""
            >
            <div class="iskoline">
            </div>
            <div class="iskoline-info">
                <!-- <div><img src="../media/iskoline.png" class="iskoline-logo" alt="iskoline-image"></div> -->
                <div class="description">
                    <img class="logo-bg" src="{% static 'images/ISKOLINE_LOGO.png' %}" alt="">
                    <h1>ISKOLINE</h1>
                    <p>
                        ISKOLINE: An online web application software made for the DICT Students batch 2021- 2022 developed by the Group 5 from DICT 3-1. Iskoline aims to act as a bridge for the students and the univerisity which will allow them to inquire, and converse with the different departments of PUP ITECH online. Through Iskoline, the students can interact with other students, see current announcements, and ask questions directly to the chairperson, registrar and faculty.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>