{% extends 'home/base.html' %} {% load crispy_forms_tags %} {% block content %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
     <!-- profile--> 
<a href="{% url 'profile' user.profile.pk %}" style="text-decoration:None;">
  <div class="miniprofile">
    <div class="profile1">
      <!--INSERT IMAGE-->
      <!-- {% if profile.picture %}
      <img src="{{ profile.picture.url }}" class="rounded-circle"/>
      {% else %}
      <img src="https://res.cloudinary.com/dmagk9gck/image/upload/v1652844857/media/uploads/default_u8embw.jpg" class="rounded-circle"/>
      {% endif %} -->
    </div>
      <div class="name" style="color: black; text-decoration:none;">
          <!--name and student id-->
          <h5><b>{{ request.user.profile.name }}</b></h5>
          <h6>{{ request.user.profile.student_id }}</h6>
      <!--notifications-->
      </div>
  </div>
</a>
 


<div class="container">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!--TEXT AREA-->
    <textarea class ="textarea" style="margin-left: 7%;" placeholder="Say Something.." name="body"></textarea>
    <div class="addphoto">
      <label class="icons" for="file" >
        <span class="material-icons"> &nbsp;
          add_a_photo
        </span>
        Add a Photo </label>
      <input type="file" id="file" accept="image/*" name="image" />
    <!-- {{form.post_image}} -->
    </div>
    <div class="pushb">
      <button class="btn btn-success mt-3">Post</button>
    </div>
  </form>
    <!-- zaki's code -->
  <div class="row justify-content-center mt-3 mb-5">
    <div class="col-md-5 col-sm-12">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="username">
          <label>Description: </label>
          <textarea name="body"></textarea>
          <!-- {{form.description}} -->
        </div>
        <div class="username">
          <label>Upload image: </label>
          <input type="file" name="image" />
          <!-- {{form.post_image}} -->
        </div>
        <select name="faculty" id="">
          <option  value="" selected="selected">---SELECT---</option>
          {% for prof in faculty %}
          <option  value="{{prof.user}}">{{prof.name|capfirst}}</option>
          {% endfor %}
        </select>
        <div class="d-grid gap-2">
          <button class="btn btn-success mt-3">Submit!</button>
        </div>
      </form>
    </div>
  </div>
  <!-- end of zaki's code -->
  {% for post in post_list %}
  <div class="row justify-content-center mt-3">
    <div class="post-body col-md-10 col-sm-12 position-relative">
      <div>
        {% if post.author.profile.picture %}
        <img class="rounded-circle mr-3" height="50" width="50" src="{{ post.author.profile.picture.url }}" />
        {% else %}
        <img src="https://res.cloudinary.com/dmagk9gck/image/upload/v1652844857/media/uploads/default_u8embw.jpg" class="rounded-circle mr-3" width="50" height="50" />
        {% endif %}
        <a class="profile-link" href="{% url 'profile' post.author.profile.pk %}">{{ post.author }}</a>
        {{ post.date | date:"F d, Y"}}
      </div>
      <div class="post-content position-relative">
        <p>{{ post.body }}</p>
        {% if post.image %}
        <div class="image">
          <img src="{{ post.image.url }}" class="post-image" />
        </div>  
        {% endif %}
        <a class="stretched-link" href="{% url 'post_detail' post.pk %}"></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
