{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post_list' %}" style="text-decoration:None; color: white !important" button class="button button2">Back to Feed</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
            <div>   
                {% if profile.picture %}
                <img src="{{ profile.picture.url }}" class="rounded-circle" width="100" height="100" />
                {% else %}
                <img src="https://avatars.dicebear.com/api/initials/{{request.user}}.svg" class="rounded-circle" width="100" height="100" />
                {% endif %}
                
                {% if profile.full_name %}
                <h3 class="py-7">{{ profile.full_name | title }}
                    {% else %}
                    <h3 class="py-7">{{ user.username }}
                    </h3>
                    {% endif %}
                </h3>

                {% if profile.student_id %}
                <p>{{ profile.student_id }}</p>
                {% endif %}

                <div class="row">
                    {% if profile.birth_date %}
                    <p> <i class="fa fa-birthday-cake"> </i>  {{ profile.birth_date }}  </p>
                    {% endif %}
                
                    <div class="col-md-">
                        {% if profile.gender %}
                            {% if profile.gender == 'Male' %}
                            <p  style="text-indent:10px;"> <i class="fa fa-male"> </i> {{ profile.gender }} </p>
                            {% else %}
                            <p style="text-indent:10px;"> <i class="fa fa-female"> </i> {{ profile.gender }}</p>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="col-md-">
                        {% if profile.location %}
                        <p style="text-indent:10px;"> <i class="fa fa-map-marker-alt"> </i> {{ profile.location }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="bio">
                    {% if profile.bio %}
                    <b> <p>{{ profile.bio }} </p> </b>
                    {% endif %}
                </div>
                <h5>
                    <span>
                        {% if request.user == user %}
                        <div class="editbutton">
                            <a href="{% url 'profile_edit' profile.pk %}" style="color: #000"><i class="far fa-edit"></i>EDIT PROFILE</a>
                        </div>
                        {% endif %}
                    </span>
                </h5>
            </div>
        </div>
    </div>
</div>

    {% for post in posts %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12 border-bottom position-relative">
            <p><strong>{{ post.author }}</strong> {{ post.date }}</p>
                <div class="position-relative">
                {% if post.image %}
                <div class="image">
                    <img src="{{ post.image.url }}" class="post-image" />
                </div>
                {% endif %}
                    <p>{{ post.body }}</p>
                    <a href="{% url 'post_detail' post.pk %}" class="stretched-link"></a>
                </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}