{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <!-- <a href="{% url 'registrar' %}" class="btn btn-light">Back to Feed</a> -->
            <a href="{% url 'registrar' %}" style="text-decoration:None; color: white !important" button class="button button3">Back to Feed</a>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <p>
                <a href="{% url 'profile' post.author.profile.pk %}"></a>
                    {% if post.author.profile.picture %}
                    <img class="rounded-circle mr-3" height="50" width="50" src="{{ post.author.profile.picture.url }}" />
                    {% else %}
                    <img src="https://avatars.dicebear.com/api/initials/{{request.user}}.svg" class="rounded-circle mr-3" width="50" height="50" />
                    {% endif %}
                    <a class="profile-link" href="{% url 'profile' post.author.profile.pk %}">{{ post.author }}</a> {{ post.date }}
                {% if request.user == post.author %}
                <a href="{% url 'registrar_post_edit' post.pk %}" style="color: #333;"><i class="far fa-edit"></i></a>
                <a href="{% url 'registrar_post_delete' post.pk %}" style="color: #333;"><i class="fas fa-trash"></i></a>
                {% endif %}
            </p>
            <div class="position-relative">
                <p>{{ post.body }}</p>
                {% if post.image %}
                <div class="image">
                    <img src="{{ post.image.url }}" class="post-image" />
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <h5>Add a Comment!</h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                <div class="username">
                    <textarea class ="textarea" placeholder="Say Something.." name="comment"></textarea>
                    <!-- {{form.description}} -->
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div>
    {% for comment in comments %}
    <div class="row justify-content-center mt-3 mb-5 border-bottom">
        <div class="col-md-5 col-sm-12">
                {% if comment.author.profile.picture %}
                <img class="rounded-circle mr-3" height="50" width="50" src="{{ comment.author.profile.picture.url }}" />
                {% else %}
                <img src="https://avatars.dicebear.com/api/initials/{{comment.author}}.svg" class="rounded-circle mr-3" width="50" height="50" />
                {% endif %}
                {% if comment.author.facultyprofile %}
                {{ comment.author }}
                {% else %}
                <a class="profile-link" href="{% url 'profile' comment.author.profile.pk %}">{{ comment.author }}</a> 
                {% endif %}
                {{ comment.date }}
                {% if request.user == comment.author %}
                <a href="{% url 'registrar_comment_delete' post.pk comment.pk %}" style="color: #333;"><i class="fas fa-trash"></i></a>
                {% endif %}
            <p>{{ comment.comment }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}