
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    overflow-x: hidden;
    overflow-y: hidden;
}
nav{
    width: 100vw;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: red; */
    background: -webkit-linear-gradient(right, #FF0000, #9F0606);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 50px;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo{
    height: 100%;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    border-bottom: 1px black solid;
    width: 100vw;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.login{
    border-radius: 5px;
    border:3px solid blue;
    color: blue !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    width: 100px;
    height: 40px;
    transition: 0.4s;
    cursor: pointer;
}


.login:hover {
    background-color: blue;
    color:rgb(255, 255, 255) !important;
}


.register{
    border-radius: 5px;
    border: 3px solid red;
    color: red !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    transition: 0.4s;
    cursor: pointer;
}

.register a {
    color: red !important;
}

.register:hover {
    background-color: red;
    color: white !important;
}


.body{
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* background: url("../media/background.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed; */
    width: 100vw;
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 253, 253, 0.4); /* Black w/opacity/see-through */
    color: black;
    backdrop-filter: blur(8px);
}

.demo-bg {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.iskoline{
    text-align: center;
    font-size: large;
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 253, 253, 0.4); /* Black w/opacity/see-through */
    color: black;
    backdrop-filter: blur(8px);
}
/* .iskoline h2{
    margin-top: 5rem;
} */

.description h1 {
    font-size: 80px;
    font-weight: bold;
    /* color: #CF0000; */
    background: -webkit-linear-gradient(right, #ff0000, #b80000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3rem;
}
.description p {
    font-size: 20px;
}

.logo-bg {
    height: 15vh;
    width: 15vw;
    align-items: center;
}

.iskoline-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 100%;
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 253, 253, 0.4); /* Black w/opacity/see-through */
    color: black;
    backdrop-filter: blur(10px);
}

/* .iskoline-logo{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
} */


 .description {
    text-align: justify;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-direction: column;
    color: black;
    width: 80vw;
    height: 50vh;
    font-size: 50px;
    margin-top: -6rem;
} 


.buttons a{
    text-decoration: none;
    color: black;
}

.content {
    text-align: justify;
    align-items: center;
} 

@media (max-width: 800px) {
    .iskoline-info {
        text-align: center;
    }
  }
  