{% extends 'chatApp/index.html' %} {% load static %} {% block title %} Iskoline ||
Dashboard {% endblock %} {% block content %}
<header>
  <!-- <div class="navbar">
    <div class="navbar-text1">
      <a href="{% url 'post_list' %}">
      <img src="{% static '/images/ISKOLINE_LOGO.png' %}" alt="Logo"/></a>
      <a class="navbar-text2" href="{% url 'post_list' %}"><h1>ISKOLINE</h1></a>
    </div>
  <ul class="nav-links">
    <div class="navbar-links">
      <a href="{% url 'post_list' %}">Home</a>
      <a href="{% url 'enterroom' %}">Enter a Room</a>
      <a href="{% url 'saveroom' %}">Save Room</a>
      <a href="{% url 'logout' %}"><u>{{request.user}}</u> , Logout</a>
    </div>
</ul>
</div> -->
</header>
<body>
  <section>
    <div class="dashboard">
      <div class="roomlist">
        {% for room in rooms %}
          <a href="{% url 'room' room.rooms %}"
            ><div class="room">
              <h4 style="text-transform: uppercase">{{room.roomname}}</h4>
              <h5>{{room.rooms}}</h5>
              <a href="{% url 'update' room.rndid %}">Update <i class="far fa-edit"></i></a>
            </div>
          </a>
        {% endfor %}
      </div>
      <div class="generate">
        <form method="post" action="">
          {% csrf_token %}
          <label>Generate a Random Room</label>
          {% if randROOM == None %}
            <h3></h3>
          {% else %}
            <h4>{{randROOM}}</h4>
          {% endif %}
          <button type="submit" class="btn-links" name="generate">
          Generate
          </button>
        </form>
        {% if randROOM == None %}
          <h3></h3>
        {% else %}
          <a href="{% url 'room' randROOM  %}">Go to the Room</a>
        {% endif %}
      </div>
    </div>
  </section>
</body>
{% endblock %}