{% extends 'department/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="d-flex d-flex-column justify-content-center">
        <div class="post justify-content-center">
            <div class="mt-1 ml-3">
                <h5>Announcement!</h5>
            </div>
            <div class="addcontent">
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea class ="textarea" placeholder="Say Something.." name="body"></textarea>
                <div class="buttons">
                    <div class="addphoto">
                    <label class="button123" for="file"><span class="material-icons"> &nbsp;add_a_photo</span>Add a Photo</label>
                    <input class="homeimage" type="file" id="file" accept="image/*" name="image" />
                    </div>
                    <div class="pushb">
                    <button class="btn btn-success">Post</button>
                    </div>
                </div>
            </form>
            </div>
        {% for post in announcement %}
        <div class="card mt-3">
            <div class="bg-light col-md-12 col-sm-12 border-bottom position-relative">
                <div class="d-flex justify-content-between mt-2">
                    <div>
                        <img src="https://avatars.dicebear.com/api/initials/{{post.author}}.svg" class="rounded-circle mr-3" width="50" height="50" />
                        <b>{{ post.author.facultyprofile.name | title }}</b>
                    </div>
                    <div class="float-right">
                        {{ post.date | date:"F d, Y"}}
                    </div>
                </div>
                <div class="position-relative">
                    <p>{{ post.body }}</p>
                    {% if post.image %}
                    <div class="image">
                        <img src="{{ post.image.url }}" class="post-image" />
                    </div>
                    {% endif %}
                    <a class="stretched-link" href="{% url 'cpannouncement_post_detail' post.pk %}"></a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}