{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link
		rel="stylesheet"
		href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
		crossorigin="anonymous"/>
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	<!-- {% if user.is_authenticated %} -->
	<!-- <link rel="icon" href="https://avatars.dicebear.com/api/avataaars/{{request.user.username}}.svg" type="image/x-icon"> -->
	<!-- {% else %} -->
	<!-- <link rel="icon" href="{% static '/image/favicon.ico' %}" type="image/x-icon"> -->
	<!-- {% endif %} -->
	<title>Department</title>
</head>	
{% block content %}
{% endblock %}
</html>