{% extends 'department/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        {% for post in registrar %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-10 col-sm-12 border-bottom position-relative">
                <div>
                    {% if post.author.profile.picture %}
                    <img class="rounded-circle mr-3" height="50" width="50" src="{{ post.author.profile.picture.url }}" />
                    {% else %}
                    <img src="https://res.cloudinary.com/dmagk9gck/image/upload/v1652844857/media/uploads/default_u8embw.jpg" class="rounded-circle mr-3" width="50" height="50" />
                    {% endif %}
                    {{ post.author }}
                    {{ post.date | date:"F d, Y"}}
                </div>
                <div class="position-relative">
                    <p>{{ post.body }}</p>
                    {% if post.image %}
                    <img src="{{ post.image.url }}" class="post-image" />
                    {% endif %}
                    <a class="stretched-link" href="{% url 'rgcomment' post.pk %}"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}