
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    background: url("https://res.cloudinary.com/dmagk9gck/image/upload/v1654008779/login-bg_i97fkw.jpg") no-repeat center !important;
    background-size: cover !important;
}
.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    
}
.iskoline-info{
    border-right: gray 1px solid;
    width: 70vw;
    height: 100vh;
}
.user_card {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 30vw;    
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 253, 253, 0.4); /* Black w/opacity/see-through */
    color: black;
    backdrop-filter: blur(8px);
}
.form_container {
    margin-top: 20px;
}

#form-title{
    color: maroon;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.login_btn {
    width: 100%;
    transition: 0.4s;
    background: #33ccff !important;
    color: white !important;
}

.login_btn:hover {
    background-color: #0090c1 !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

#messages{
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}
.logo-img{
    height: 150px;
    width: 150px;
    position: relative;
}
.form-control{
    border: none !important;
    border-radius: 50px !important;
    border-bottom: black 0.5px solid !important;
}
.mt-4 a{
    color: maroon;
    text-decoration: none;
}

@media (max-width: 800px) {
    .user_card {
      width: 100vw;
      position: absolute;
    }
  }
  
  