@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.body {
    display: flex;
    flex-direction: column;
}

.navbar{
    position: fixed;
    height: 100px;
    width: 100%; 
    padding: 30px 0;
    padding-bottom: 12px;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    border-bottom: 1px solid maroon;
    margin-top: -16px;
    flex-direction: row;
    column-gap: 30%;
    z-index: 9999;
}
.navbar .max-width{
    display: flex;
    margin-right: 30px;
    justify-content: space-between;

}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
    text-decoration: none;
}

.navbar .logo a{
    color: #111;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: maroon;
    transition: all 0.3s ease;
}
.navbar .logo a:hover{
    color: maroon;
    text-decoration: none;
}


.body{
    height: 100vh;
    color: #111;
    min-height: 500px;
}

.post{
    margin-top: 100px;
}

.post-image{
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.profile-link{
    font-size: x-large;
    color: black;
}